<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        style="color:skyblue"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Descripcion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <ion-card>
      <ion-card-header>¿Qué Buscamos?</ion-card-header>
      <ion-card-content>Nuestro objetivo es dar a conocer la iniciativa de la undp la cual busca dar cobertura a las necesidades de agua para consumo humano, se pretende mejorar la salud de toda la población al acceder al agua para consumo personal (cocinar, ingeri y para higene).<br> A continuación mostraremos un video resumen. </ion-card-content>
      <a href="https://www.youtube.com/watch?v=6kke9YIohQQ" target="_blank"><ion-img src="/assets/img/agua-limpia.jpg" ></ion-img></a>
      <ion-card-content>Si desea ayudar recomendamos darle al boton de más información.</ion-card-content>
    </ion-card>
    <ion-button href="https://www1.undp.org/content/undp/es/home/sustainable-development-goals/goal-6-clean-water-and-sanitation.html" expand="block" color="success" shape="round">
      Más información
    </ion-button>
</ion-content>

