.boton{
    
    --ion-color-primary:#B0E0E6;
    --ion-text-align:center;
    
}

ion-img{
    width : 200px;
    font-size: 200px;
}
.fondo{--ion-background-color: #FBFDFD ;}
.img{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
  }