.boton{
    
    --ion-color-primary:#a1cbd1;
    --ion-text-align:center;
    
}
ion-content{
    position: relative;
}
ion-img{
    max-width: 500px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.fondo{--ion-background-color: #a3ffff ;}

  ion-title{
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}