<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/inicio"
        text="Back"
        style="color:#a3ffff"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-variant-position: normal;">Clear Water</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="letra">Publique en el foro</ion-card-title>
      <ion-card-subtitle class="letra2">Complete los campos</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content >
      <form class="form-register fondo" #formulario="ngForm" >
        
          <ion-input   type="text" placeholder="Tema a publicar" minlength="4" name="tema" [(ngModel)]="newDato.tema"  pattern="^([a-zA-Z ]+)$" required></ion-input>
        
        
          <ion-input type="text" placeholder="Titulo de publicación" minlength="4" name="titulo" [(ngModel)]="newDato.titulo"  pattern="^([a-zA-Z0-9 ]+)$" required></ion-input>
        
   
          <ion-input type="text" placeholder="Autor de publicación" minlength="4" name="titulo" [(ngModel)]="newDato.autor"  pattern="^([a-zA-Z0-9 ]+)$" required></ion-input>
     
        
          <ion-input type="text" placeholder="Mensaje a publicar" minlength="4" name="mensaje" [(ngModel)]="newDato.mensaje"   required></ion-input>
        
        <ion-button (click)="addDatos()" [disabled] ="formulario.invalid"type="submit" expand="block">Realizar publicación</ion-button>
      </form>
    </ion-card-content> 
  </ion-card>
  
    
</ion-content>