.fondo{
    --ion-background-color: #a3ffff ;}
ion-title{
        font-family: Arial;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        font-size: 35px; 
        color:black; 
      }

.letraForm{
    font-family: Arial;
    font-size: 15px;
    color: white;
}
ion-item{
    width: 100%;
    height: 60px;
}
.form-register{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.letra{
    color: white;
}
.letra2{
    color: rgb(160, 156, 156);
}

ion-card{
    
    background-color: #3f3f3f;
    width: 90%;
    height: 80%;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
ion-button{  
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.ultimoLabel{
    margin-bottom: 80px;
}
ion-input{
    
    font-size: 90%;
    --placeholder-color: black; 
    background-color: white;
    margin-bottom: 2%;
}

.fondo{--ion-background-color: #a3ffff ;}