.fondo{--ion-background-color: #a3ffff ;}
.letraForm{
    font-family: Arial;
    font-size: 15px;
    color: white;
}

.form-login{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 35px; 
    color:black; 
  }
  ion-input{
    width:  99%;
    font-size: 90%;
    --placeholder-color: black; 
    background-color: white;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
ion-card{
    background-color: #3f3f3f;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60%;
    
  }
  .bottonInicio{
    
        margin-top: 5%;
        margin-bottom: auto;
    
  }
 
  ion-card-title{
      color: white  ;
  }
  