.fondo{--ion-background-color: #a3ffff ;}
ion-card-content{
    background-color:rgb(197, 194, 194);
    font-family: Arial;
    color: white;
}
ion-card-title{
    background-color:rgb(197, 194, 194);
    font-family: Arial;
    color: white;
}
ion-card-header{
    background-color:rgb(197, 194, 194);
    font-family: Arial;
    color: white;
}
ion-title{
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
ion-card-header{
    font-size: 25px;
    font-family: Arial;
    color: white;
}
ion-img {
    background-color:rgb(197, 194, 194); 
    margin-top: 15px;   
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
ion-card{
    background-color:rgb(197, 194, 194);     ;
    width: auto;
    height: auto;
    min-width: none;
    min-height: 460px;
    margin-top: 15px;   
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}