ion-card{
    width: auto;
    height: auto;
    min-width: none;
    min-height: 460px;
    margin-top: 15px;   
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3f3f3f;
    color:white;
    
}
ion-card-title{
    font-family: Arial;
    font-size: 100%;
    color: white;
}
ion-card-header{
    font-size: 25px;
    font-family: Arial;
    color: white;
    
}
ion-card-subtitle{
    font-family: Arial;
    font-size: 70%;
    color: rgb(184, 179, 179);
}
ion-button{
    font-size:70%;
    color:#a3ffff;
    
}
ion-card-content{
    font-family: Arial;
    color: white;
    font-size: 40%;
}
ion-title{
    font-size: 90%;
    margin-left: 20px;
    text-align:center;
}
.fondo{--ion-background-color: #a3ffff ;}