.fondo{--ion-background-color: #a3ffff ;}
ion-card{
    background-color: #3f3f3f;
    margin-left: auto;
    margin-right: auto;
    width:  90%;
    height: 80%;
}
.letra{
    color: white;
}
.letra2{
    color: rgb(160, 156, 156);
}
ion-input{
    width:  90%;
    font-size: 90%;
    --placeholder-color: black; 
    background-color: white;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
ion-button{
    margin-top: 2%;
    margin-bottom: 5%;
}