<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/inicio"
        text="Back"
        style="color:#a3ffff"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Clear Water</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de Usuario</ion-card-title>
      <ion-card-subtitle>Ingrese datos de nuevo Usuario</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content >
      <form class="form_contac fondo" #formulario="ngForm" >
        <ion-item>
          <ion-input type="text" placeholder="Ingresar Nombre Completo" minlength="4" name="nombre" [(ngModel)]="newUsuario.nombre"  pattern="^([a-zA-Z ]+)$" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Ingresar correo electronico" minlength="4" name="email" [(ngModel)]="newUsuario.email"  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Ingresar Dirección" minlength="4" name="direc" [(ngModel)]="newUsuario.direc"  pattern="^([a-zA-Z0-9 ]+)$" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Ingresar numero telefonico" pattern="^([0-9 ]+)$" minlength="8" maxlength="9" name="numTel" [(ngModel)]="newUsuario.numTel"   required></ion-input>
        </ion-item>
        <ion-item class="ultimoLabel">
          <ion-input type="password" placeholder="Ingresar contraseña" minlength="5" name="password" [(ngModel)]="newUsuario.password"   required></ion-input>
        </ion-item>
        <ion-button (click)="addUsuarios()" [disabled] ="formulario.invalid"type="submit" expand="block">Registrar Usuario</ion-button>
      </form>   
      </ion-card-content> 
  </ion-card>
  <ion-grid fixed>
  
</ion-content>
